.bottom-sheet{
    margin: -5px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #2A2E43; 
    color: white;
    height: 100px;
}
.top-bar{
   background-color: #3ACCE1; 
   height: 10px; 
   width:100%;
}
.text{
    opacity: 0.5;
}
#number{
font-size: 62px;
margin-top: -25px;

}
#title{
    font-size: 22px;
    margin-top: -10px;
}
#description{
    font-size: 18px;
}
.fab{
 --background: #f4f5f8;
 color: black;
height: 52px;
width: 52px;
}
#map{
    height: 100%;
    width: 100%;
}
.fab-item{
    --background: transparent;
    margin-left: 2px;
}